
body {
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}
* {
    background-color: #fff;

}
h1{
    color:chocolate;
}
.header-right {
    margin-bottom: 10px;
}
.header-right p{
    margin: 0;
}

.container {
    /* width: 1400px ; */
    margin: 0 auto;
}


  .advertisement h2 
  { 
    margin: 0 0 10px;
 }
  .advertisement button
   { 
    background-color: blue; 
    color: white; 
    padding: 10px 20px;
     border: none;
      cursor: pointer; }
  .footer { 
    background-color: #333;
     padding: 5px; 
     text-align: center;
      color: white; 
    }

    .content-post {
        display: flex;
        align-items: flex-start;
    }
 
    .content-post-right span {
        display: inline; /* Đảm bảo phần tử có thể chứa kích thước và padding */
        padding: 10px; /* Điều chỉnh padding tùy theo nhu cầu */
        border: 2px solid #ccc; /* Đặt độ dày và màu của đường viền */
        background-color: #f4f4f4; /* Màu nền của hình vuông */
        width: 52px; /* Đặt chiều rộng của hình vuông */
        height: 10px; /* Đặt chiều cao của hình vuông */
        margin-left: 10px;
    }
    .content-post-right {
        width: 40%;
    }


.content-post-left {
    display: flex;
    align-items: flex-start;
   
}
.post-left-1 {
    width: 70%;
}
.post-left-2{
    width: 30%;

}

.post-left-2 ul{
    padding: 0;
    margin: 0;
}
.time {
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px;
    background-color: #00000038;
    margin-right: 10px;
}

.post-left-2 ul li {
    margin-bottom: 10px;
    max-width: 222px;
    border-bottom: 1px solid #0000007a;
    padding-bottom: 15px;
}
.post-left-2 ul li a {
    color: #161414c9;
} 

.title-h1 img {
    width: 100%;
    max-width:700px;
}
.title {
    font-size: 18px;
    color: red;
}


.navbar {
    margin-top: 10px;
    /* background-color: #fff; */
    overflow: auto;
    list-style: none;
  }

  .navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration:none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  .navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  .post-small {
    display: flex;
    align-items: flex-start;
}

.post-small-tag p{
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    width: 165px;
}

.advertisement img {
    border: 1px solid;
}

#news-page .topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#news-page button{
    font-size: 20px;
    background: #00000040;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

#news-page .like{
    background-color: #3B5998;
    color: #FFF;
    border-radius: 6px;
}

#news-page .follow{
    background-color: #1DA1F2;
    color: #FFF;
    border-radius: 6px;
}

#news-page .youtube{
    background-color: #E50914;
    color: #FFF;
    border-radius: 6px;
}

.topbar{
    display: flex;
}


/* Header */
#header .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo img {
   max-width: 100%;
}