
body {
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}

ul {
    list-style-type: none;

* {
    background-color: #fff;

}
h1{
    color:chocolate;
}


  .advertisement 
  { margin: 15px 0; 
    padding: 20px; 
    border: 1px solid #ddd; 
}
  .advertisement h2 
  { 
    margin: 0 0 10px;
 }
  .advertisement button
   { 
    background-color: blue; 
    color: white; 
    padding: 10px 20px;
     border: none;
      cursor: pointer; }
  .footer { 
    background-color: #333;
     padding: 5px; 
     text-align: center;
      color: white; 
    }
    .content-post-right {
        display: flex;
        justify-content: flex-end; /* Dịch nội dung sang bên phải */
        /* Thêm các thuộc tính khác nếu cần */
    }
    .content-post-right span {
        display: inline; /* Đảm bảo phần tử có thể chứa kích thước và padding */
        padding: 10px; /* Điều chỉnh padding tùy theo nhu cầu */
        border: 2px solid #ccc; /* Đặt độ dày và màu của đường viền */
        background-color: #f4f4f4; /* Màu nền của hình vuông */
        width: 52px; /* Đặt chiều rộng của hình vuông */
        height: 10px; /* Đặt chiều cao của hình vuông */
        margin-left: 10px;
    }


.container {
    width: 1200px auto;
}

.content-post-left {
    display: flex;
    align-items: flex-start;
}
.post-left-1 {
    width: 60%;
}
.post-left-2{
    width: 40%;
}

.post-left-2 ul{
    padding: 0;
    margin: 0;
}

.post-left-2 ul li {
    margin-bottom: 10px;
}
.post-left-2 ul li a {
    color: #161414c9;
} 

.title-h1 img {
    width: 100%;
    max-width:600px
}
.title {
    font-size: 18px;
    color: red;
}


.navbar {
    /* background-color: #fff; */
    overflow: auto;
    list-style: none;
  }

  .navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration:none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

